<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Cake Template">
    <meta name="keywords" content="Cake, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ai diet</title>
<link rel="icon" href="/static/dumbbell.png">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/temp/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/temp/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/static/temp/css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="/static/temp/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/static/temp/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/temp/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/temp/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/static/temp/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/temp/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/temp/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <style>
h3 {
  font-family: "Sofia", sans-serif;
}
</style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__cart">
            <div class="offcanvas__cart__links">
                <a href="#" class="search-switch"><img src="/static/temp/img/icon/search.png" alt=""></a>
                <a href="#"><img src="/static/temp/img/icon/heart.png" alt=""></a>
            </div>
            <div class="offcanvas__cart__item">
                <a href="#"><img src="/static/temp/img/icon/cart.png" alt=""> <span>0</span></a>
                <div class="cart__price">Cart: <span>$0.00k</span></div>
            </div>
        </div>
        <div class="offcanvas__logo">
            <a href="./index.html">Ai Diet</a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__option">
            Home
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header__top__inner">
                            <div class="header__top__left">
                                Home
                            </div>
                            <div class="header__logo">
                                <a href="./index.html"><h3><img src="/static/images/dumbbell.png" height="50" width="50">Ai diet</h3></a>
                            </div>
                            <div class="header__top__right">
                                <div class="header__top__right__links">
                                    <a href=""><img src="/static/images/administrator.png" style="height: 50px;width: 50px" alt=""></a>
{#                                    <a><div>Logout</div></a>#}
                                </div>
                                <div class="header__top__right__cart">
{#                                    <a href="/register"><div>Register</div></a>#}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="canvas__open"><i class="fa fa-bars"></i></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="/admin_home">Home</a></li>
                            <li><a href="/view_hm">Verify</a></li>
                            <li><a href="/viewapprovedHM">Health Manager</a></li>
                            <li><a href="/user">Users</a></li>
                            <li><a href="/view_complaint">Complaints</a></li>
                            <li><a href="/feedback">Feedback</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

  {% if d %}
    <!-- Hero Section Begin -->
    <section class="hero">

        <div class="hero__slider owl-carousel">
            <div class="hero__item set-bg" data-setbg="/static/temp/img/hero/hero-1.jpg">
{#                <div class="container">#}
{#                    <div class="row d-flex justify-content-center">#}
{#                        <div class="col-lg-8">#}
{#                            <div class="hero__text">#}
{#                                <h2>Food is a fuel not therapy!</h2>#}
{#                                <a href="" class="primary-btn">Let's Start</a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            </div>
            <div class="hero__item set-bg" data-setbg="/static/temp/img/hero/hero-1.jpg">
{#                <div class="container">#}
{#                    <div class="row d-flex justify-content-center">#}
{#                        <div class="col-lg-8">#}
{#                            <div class="hero__text">#}
{#                                <h2>Eat to fuel  your body not to feed your emotions!</h2>#}
{#                                <a href="#" class="primary-btn">Let's Start</a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- About Section Begin -->
    <section class="about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="about__text">
                        <div class="section-title">
                            <span>About Ai Diet</span>
                            <h2>Exercises and good foods are the house of Queens!</h2>
                        </div>
                        <p>In nutrition, diet is the sum of food consumed by a person or other organism.Dietary habits and choices play a significant role in the quality of life, health and longevity.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="about__bar">
                        <div class="about__bar__item">
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;Health Workers</p>
                            <div id="bar1" class="barfiller">
                                <div class="tipWrap"><span class="tip"></span></div>
                                <span class="fill" data-percentage="{{ session['data2'] }}"></span>
                            </div>
                        </div>
                        <div class="about__bar__item">
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;Users</p>
                            <div id="bar2" class="barfiller">
                                <div class="tipWrap"><span class="tip"></span></div>
                                <span class="fill" data-percentage="{{ session['data'] }}"></span>
                            </div>
                        </div>
                        <div class="about__bar__item">
                            <p style="margin-left: 8%">Appointments</p>
                            <div id="bar3" class="barfiller">
                                <div class="tipWrap"><span class="tip"></span></div>
                                <span class="fill" data-percentage="{{ session['data3'] }}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->

    <!-- Categories Section Begin -->
    <div class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <div class="categories__item">
                        <div class="categories__item__icon" align="center">
                            <img src="/static/images/walking.png" style="width: 85px; height: 85px">
                            <h5>Walking Generation</h5>
                        </div>
                    </div>
                    <div class="categories__item">
                        <div class="categories__item__icon" align="center">
                            <img src="/static/images/diet.png" style="width: 85px; height: 85px">
                            <h5>Diet Profile</h5>
                        </div>
                    </div>
                    <div class="categories__item">
                        <div class="categories__item__icon" align="center">
                            <img src="/static/images/care.png" style="width: 85px; height: 85px">
                            <h5>Health Worker</h5>
                        </div>
                    </div>
                    <div class="categories__item">
                        <div class="categories__item__icon" align="center">
                             <img src="/static/images/deadline.png" style="width: 85px; height: 85px">
                            <h5>Appointments</h5>
                        </div>
                    </div>
                    <div class="categories__item">
                        <div class="categories__item__icon" align="center">
                           <img src="/static/video-call.png" style="width: 85px; height: 85px">
                            <h5>Video call</h5>
                        </div>
                    </div>
                    <div class="categories__item">
                        <div class="categories__item__icon" align="center">
                             <img src="/static/sticky-note.png" style="width: 85px; height: 85px">
                            <h5>Reminder</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <!-- Categories Section End -->
      <section class="product spad">
        <div class="container">
            <div class="row">
                {% for i in session['data4'] %}
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{{ i.photo }}">
                            <div class="product__label">
                                <span>{{ i.Hm_name }}</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">{{ i.email_id }}</a></h6>

                        </div>
                    </div>
                </div>
                {% endfor %}


            </div>
        </div>
    </section>
    <!-- Product Section End -->
    <!-- Team Section Begin -->
    <!-- Team Section End -->

    <!-- Testimonial Section Begin -->
    <section class="testimonial spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <span>Testimonial</span>
                        <h2>Our client say</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="testimonial__slider owl-carousel">
                    {% for i in session['data5'] %}
                    <div class="col-lg-6">
                        <div class="testimonial__item">
                            <div class="testimonial__author">
                                <div class="testimonial__author__pic">
                                    <img src="{{ i.photo }}" alt="" style="width: 85px; height: 85px">
                                </div>
                                <div class="testimonial__author__text">
                                    <h5>{{ i.user_name }}</h5>
                                    <span>{{ i.place }}</span>
                                </div>
                            </div>
                            <div class="rating">
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star-half_alt"></span>
                            </div>
                            <p>{{ i.feedback }}</p>
                        </div>
                    </div>
                    {% endfor %}


                </div>
            </div>
        </div>
    </section>
    {% else %}
       <section class="product spad">
        <div class="container">

            <div align="center"><h4>{{ session.head }}</h4></div>
        <br>
         <center>
           {% block body %}
              <img src="/static/aidiet.jpg"/>
               <p>We are proudly presents you to Ai_diet app to your wonderfull life ahead and we are here to help you for your dialy
                    hnnnnnnnnnnnnn
               </p>
           {% endblock %}
         </center>


            </div>
        </div>
    </section>
  {% endif %}

    <!-- Product Section Begin -->
    <!-- Map End -->

    <!-- Footer Section Begin -->
    <footer class="footer set-bg" data-setbg="img/footer-bg.jpg">
        <div class="copyright">
            <div class="container">
                <d
                        iv class="row">
                    <div class="col-lg-7">
                        <p class="copyright__text text-white"><!-- Link back to aidiet can't be removed. Template is licensed under CC BY 3.0. -->
                          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://aidiet.com" target="_blank">aidiet</a>
                          <!-- Link back to aidiet can't be removed. Template is licensed under CC BY 3.0. -->
                      </p>
                  </div>
                  <div class="col-lg-5">
                    <div class="copyright__widget">
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Site Map</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-85 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="/static/temp/js/jquery-3.3.1.min.js"></script>
<script src="/static/temp/js/bootstrap.min.js"></script>
<script src="/static/temp/js/jquery.nice-select.min.js"></script>
<script src="/static/temp/js/jquery.barfiller.js"></script>
<script src="/static/temp/js/jquery.magnific-popup.min.js"></script>
<script src="/static/temp/js/jquery.slicknav.js"></script>
<script src="/static/temp/js/owl.carousel.min.js"></script>
<script src="/static/temp/js/jquery.nicescroll.min.js"></script>
<script src="/static/temp/js/main.js"></script>

</body>

</html>