<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Cake Template">
    <meta name="keywords" content="Cake, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ai diet</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/temp/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/temp/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/static/temp/css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="/static/temp/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/static/temp/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/temp/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/temp/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/static/temp/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/temp/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/temp/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <style>
h3 {
  font-family: "Sofia", sans-serif;
}
</style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__cart">
            <div class="offcanvas__cart__links">
                <a href="#" class="search-switch"><img src="/static/temp/img/icon/search.png" alt=""></a>
                <a href="#"><img src="/static/temp/img/icon/heart.png" alt=""></a>
            </div>
            <div class="offcanvas__cart__item">
                <a href="#"><img src="/static/temp/img/icon/cart.png" alt=""> <span>0</span></a>
                <div class="cart__price">Cart: <span>$0.00k</span></div>
            </div>
        </div>
        <div class="offcanvas__logo">
            <a href="index.html">Ai Diet</a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__option">
            <ul>
                <li>USD <span class="arrow_carrot-down"></span>
                    <ul>
                        <li>EUR</li>
                        <li>USD</li>
                    </ul>
                </li>
                <li>ENG <span class="arrow_carrot-down"></span>
                    <ul>
                        <li>Spanish</li>
                        <li>ENG</li>
                    </ul>
                </li>
{#                <li><a href="#">Sign in</a> <span class="arrow_carrot-down"></span></li>#}
            </ul>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header__top__inner">
                            <div class="header__top__left">
                                <ul>
                                    <li>USD <span class="arrow_carrot-down"></span>
                                        <ul>
                                            <li>EUR</li>
                                            <li>USD</li>
                                        </ul>
                                    </li>
                                    <li>ENG <span class="arrow_carrot-down"></span>
                                        <ul>
                                            <li>Spanish</li>
                                            <li>ENG</li>
                                        </ul>
                                    </li>
{#                                    <li><a href="#">Sign in</a> <span class="arrow_carrot-down"></span></li>#}
                                </ul>
                            </div>
                            <div class="header__logo">
                                <a href="index.html"><h3><img src="/static/images/dumbbell.png" height="50" width="50">Ai diet</h3></a>
                            </div>
                            <div class="header__top__right">
                                <div class="header__top__right__links">
{#                                    <a href="#" class="search-switch"><img src="/static/temp/img/icon/search.png" alt=""></a>#}
                                    <a href="/log"><div>Login</div></a>
                                </div>
                                <div class="header__top__right__cart">
                                    <a href="/register"><div>Register</div></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="canvas__open"><i class="fa fa-bars"></i></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li class="active"><a href="./shop.html">Health Manager</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>    <!-- Header Section End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__text">
                        <h2>Health Managers</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__links">
                        <a href="index.html">Home</a>
                        <span>Health Managers</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="shop__option">
                <div class="row" align="center">
                    <div class="col-lg-7 col-md-7">
                        <div class="shop__option__search" >
                            <form action="" method="post">
                                <input type="text" placeholder="Search" name="s">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                {% for i in data %}
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{{ i.photo }}">
                            <div class="product__label">
                                <span>{{ i.Hm_name }}</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">{{ i.email_id }}</a></h6>

                        </div>
                    </div>
                </div>
                {% endfor %}


            </div>
           </div>
    </section>
    <!-- Shop Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer set-bg" data-setbg="img/footer-bg.jpg">
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <p class="copyright__text text-white"><!-- Link back to Aidiet can't be removed. Template is licensed under CC BY 3.0. -->
                          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://Aidiet.com" target="_blank">Aidiet</a>
                          <!-- Link back to Aidiet can't be removed. Template is licensed under CC BY 3.0. -->
                      </p>
                  </div>
                  <div class="col-lg-5">
                    <div class="copyright__widget">
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Site Map</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="/static/temp/js/jquery-3.3.1.min.js"></script>
<script src="/static/temp/js/bootstrap.min.js"></script>
<script src="/static/temp/js/jquery.nice-select.min.js"></script>
<script src="/static/temp/js/jquery.barfiller.js"></script>
<script src="/static/temp/js/jquery.magnific-popup.min.js"></script>
<script src="/static/temp/js/jquery.slicknav.js"></script>
<script src="/static/temp/js/owl.carousel.min.js"></script>
<script src="/static/temp/js/jquery.nicescroll.min.js"></script>
<script src="/static/temp/js/main.js"></script>

</body>

</html>